@page "/aiPage"

<div class="topHeaderHomeContainer">
    <div class="welcomeFont">Your AI Prompts</div>
    <NavLink class="navButton" href="settingsPage"><span class="material-symbols-sharp settingsIcon">add</span></NavLink>
</div>



@code {

}
