@page "/exercisePage"


<div class="topHeaderHomeContainer">
        <div class="welcomeFont">Your Exercises</div> 
        <div class="welcomeFont2"> S F + </div>
      </div>
    
<div class="exerciseContainer">

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>

    <div class="exerciseTabs">
        <img class="exerciseImg" />
        <h1 class="exerciseName">Exercise</h1>
        <h2 class="exerciseName">ExerciseType</h2>
    </div>


</div>


@code {

}
