@page "/historyPage"

<div class="topHeaderHomeContainer">
    <div class="welcomeFont"> Your Workout History</div> 
    <NavLink class="navButton" href="settingsPage"><span class="material-symbols-sharp settingsIcon">event</span></NavLink>
</div>

<div class="historyContainer">
    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

        <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>

    <div class="historyTab">
        <div class="historyLeftSide">
            <h1>DayName</h1>
            <h2> Date: workoutDay </h2>
            <span class="material-symbols-sharp" style="font-size:12px;">schedule</span><span class="h3">&ensp; workoutTime</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">weight</span><span class="h3">&ensp; weightLifted</span>
            <br />
            <span class="material-symbols-sharp" style="font-size:12px;">trophy</span><span class="h3">&ensp; prs</span>
            <br />
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
            <h2>Sx Exercise</h2>
        </div>
        <div class="historyRightSide">
            <img class="historyImage" />
        </div>
    </div>





</div>



@code {

}
