@page "/"

<div class="topHeaderHomeContainer">
    <div class="welcomeFont"> Welcome Back,</div>
    <NavLink class="navButton" href="settingsPage"><span class="material-symbols-sharp settingsIcon">settings</span></NavLink>
</div>

<div class="profileDetailContainer">
    <img class="avatarImg" />
    <h1> UserName </h1>
    <h2> NumOfWorkouts Workouts Done </h2>
</div>

<button class="newWorkoutButton"> Start a New Workout </button>
<button class="fitAIButton"> Talk to FitAI </button>
<button class="workoutHistoryButton"> View Workout History </button>