@page "/profilePage"

<div class="topHeaderHomeContainer">
    <div class="welcomeFont"> Your Profile</div>
    <NavLink class="navButton" href="settingsPage"><span class="material-symbols-sharp settingsIcon">settings</span></NavLink>
</div>
  
<div class="profileDetailContainer">
    <img class="avatarImg" />
    <h1> UserName </h1>
    <h2> Workouts Workouts Done </h2>
    <h2> HrsWrkOut Worked Out </h2>
    <h2> IbsLifted Ibs Total </h2>
    <h2> Height: height </h2>
    <h2> Weight: weight </h2>
    <h2> Goal Weight: gweight </h2>
    <h2> BMI: bmi </h2>
    <h2> Daily Calories: dcals </h2>
</div>

<div class="chartPage">
    <div class="chartContainer">
      <h1 class="chartTitle">Workouts this week</h1>
      <div class="chartTab"> </div>
    </div>

    <div class="chartContainer">
      <h1 class="chartTitle">Calories this week</h1>
      <div class="chartTab"> </div>
    </div>

    <div class="chartContainer">
      <h1 class="chartTitle">Weight this week</h1>
      <div class="chartTab"> </div>
    </div>
</div>


@code {

}
