@page "/settingsPage"

<div class="topHeaderHomeContainer">
    <NavLink class="navButton" href="profilePage"><div class="welcomeFont"><span class="material-symbols-sharp">arrow_back</span></div></NavLink>
    <div class="welcomeFont3">Settings</div>
</div>
      
 <div class="settingsContainer">
   <h1>Profile</h1>
   <h2>Edit</h2>
   
   <h1>Units</h1>
   <h2>Language</h2>
   <h2>Weight</h2>
   <h2>Distance</h2>
   <h2>Size</h2>
   
   <h1>General</h1>
   <h2>Sound Effects</h2>
   <h2>Keep Screen On</h2>
   <h2>Theme</h2>
   
   <h1>Support</h1>
   <h2>Bug Report</h2>
   <h2>Help Support</h2>
   <h2>Twitter</h2>
   <h2>Facebook</h2>
 </div>      
  
 <button class="logOutButton"> Log Out </button>

@code {

}
