@page "/workoutPage"

<div class="topHeaderHomeContainer">
      <div class="welcomeFont">Your Workout Templates</div> 
    <NavLink class="navButton" href="settingsPage"><span class="material-symbols-sharp settingsIcon">add</span></NavLink>
</div>
    
<button class="newWorkoutButton"> Start a New Workout </button>

<div class="workoutContainer">

    <div class="workoutTabs"> 
        <div class="workoutLeftSide"> 
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">         
            <img class="historyImage" />
        </div>
            <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

    <div class="workoutTabs">
        <div class="workoutLeftSide">
            <h1> DayName </h1>
            <h2> WorkoutDate </h2>
            <br />
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
            <h2> Sx Exercise</h2>
        </div>
        <div class="workoutRightSide">
            <img class="historyImage" />
        </div>
        <span class="material-symbols-sharp">more_vert</span>
    </div>

</div>





@code {

}
