@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}
.h3 {
    font-size: 12px;
    display: inline-block;
}
body {
    background-color: #333333;
    color: #ffffff;
    font-family: Montserrat;
}


button {
    width: 93%;
    height: 8%;
    color: #ffffff;
    font-size: 32px;
    font-family: Montserrat;
    border-radius: 15px;
    margin-left: 3.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}


.settingsIcon {
    float: right;
    margin-right: 5%;
    margin-top: 6%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    height: 8%;
    width: 100%;
    background-color: #404040;
    color: #ffffff;
    font-size: 32px;
    font-family: Montserrat;
    z-index: 2;
}

.navIconsContainer {
    width: 80%;
    height: auto;
    margin: 0.5%;
    padding: 1%;
}

.navIcons {
    padding: 4.5%;
}
.navButton {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    height: fit-content;
    width: fit-content;

}
.material-symbols-sharp {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.welcomeFont {
    float: left;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 6%;
}

.welcomeFont2 {
    float: right;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 6%;
}
.welcomeFont3 {
    float: left;
    font-size: 20px;    
    margin-right: 1%;
    margin-top: 5.5%;

}

/* ------------------------   HOME PAGE START   ------------------------ */
.topHeaderHomeContainer {
    width: 100%;
    height: 5%;
}
.avatarImg {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 3%;
}
.profileDetailContainer {
    height: fit-content;
    margin-left: 5%;
    margin-bottom: 8%;
    width:100%;
    float: left;
}

.newWorkoutButton {
    background-color: #273b4f; /* Space Blue */
    font-size: 28px;
}

.fitAIButton {
    background-color: #3D2C3C; /* Space Purple */
}

.workoutHistoryButton {
    background-color: #1F4B3E; /* Space Green */
    font-size: 28px;
}
/* ------------------------   HOME PAGE END   ------------------------ */


/* ------------------------   PROFILE PAGE START   ------------------------ */
.chartPage{
    height: fit-content;
    margin-bottom: 20%;
}
.chartContainer {
    width: 90vw;
    height: 25vh;
    border-radius: 2%;
    background-color: #404040;
    display: flex;
    margin-bottom: 3%;
    position: relative;
}

.chartTitle {
    padding-left: 5%;
    padding-top: 2%;
    margin-bottom: 2%;
}

.chartTab {
    width: 90%;
    height: 75%;
    border-radius: 2%;
    background-color: #404040;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 5%;
    margin-bottom: 5%;
}
/* ------------------------   PROFILE PAGE END   ------------------------ */

/* ------------------------   SETTINGS PAGE START   ------------------------ */

.settingsContainer {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: left;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.logOutButton {
    background-color: #6B2732; /* Space Red */
    position: relative;
    top: 20%;
}
/* ------------------------   SETTINGS PAGE END   ------------------------ */


/* ------------------------   HISTORY PAGE START   ------------------------ */

.historyContainer {
    height: fit-content;
    margin: auto;
    position: relative;
    margin-top: 5%;
    margin-bottom: 2%;
    overflow: hidden;
    width: 98%;
    margin-bottom: 15%;
}

.historyTab {
    width: 100%;
    height: 18vh;
    border-radius: 2%;
    background-color: #404040;
    margin: auto;
    position: relative;
    margin-bottom: 2%;
}

.historyLeftSide {
    width: 50%;
    height: 100%;
    float: left;
    line-height: 0.1;
    overflow: hidden;
    margin-left: 2%;
}

.historyRightSide {
    width: 43%;
    height: 95%;
    float: left;
    padding-left: 5%;
    padding-top: 2.5%;
}

.historyImage {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    opacity: 0.5;
}

/* ------------------------   HISTORY PAGE END   ------------------------ */











/* ------------------------   WORKOUT PAGE START   ------------------------ */

.workoutContainer {
    height: 90%;
    width: 98%;
    margin: auto;
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    overflow: hidden;
}

.workoutTabs {
    width: 100%;
    height: 20vh;
    border-radius: 2%;
    background-color: #404040;
    margin: auto;
    postition: relative;
    margin-bottom: 5%;
}

.workoutLeftSide {
    width: 40%;
    height: 100%;
    float: left;
    line-height: 0.2;
    overflow: hidden;
    margin-left: 2%;
}

.workoutRightSide {
    width: 50%;
    height: 95%;
    float: left;
    padding-left: 5%;
    padding-top: 2.5%;
}

.workoutMoreButton {
    width: 2%;
    height: 95%;
    float: right;
    padding-top: 2.5%;
}

.historyImage {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    opacity: 0.5;
}

.newWorkoutButton {
    background-color: #273b4f; /* Space Blue */
}

/* ------------------------   WORKOUT PAGE END   ------------------------ */









/* ------------------------   EXERCISE PAGE START   ------------------------ */

.exerciseContainer {
    height: 90%;
    width: 98%;
    margin: auto;
    position: relative;
    margin-top: 5%;
    margin-bottom: 15%;
    overflow: hidden;
}

.exerciseTabs {
    background-color: #404040;
    margin: auto;
    width: 100%;
    height: 8vh;
    margin-bottom: 3%;
}

.exerciseImg {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    opacity: 0.5;
    margin-left: 1.5%;
    margin-top: 1.5%;
    float: left;
}

.exerciseName {
    width: 80%;
    line-height: 5%;
    margin-top: 5%;
    margin-left: 3%;
    float: left;
}


/* ------------------------   EXERCISE PAGE END   ------------------------ */


















