nav {
    height: 8.047%;
    background-color: #404040;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    color: #ffffff;
    font-size: 32px;
    font-family: Montserrat;
    /* Add position fixed when ready. */
}

.navIconsContainer {
    width: 93%;
}

.navIcons {
    padding: 6%;

}
