<nav>
    <div class="navIconsContainer">
        <span class="navIcons">P</span>
        <span class="navIcons">H</span>
        <span class="navIcons">W</span>
        <span class="navIcons">E</span>
        <span class="navIcons">A</span>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
