@page "/nav"

<nav>
    <div class="navIconsContainer">
        <NavLink class="navButton" href="profilePage"><span class="material-symbols-sharp navIcons">person</span></NavLink>
        <NavLink class="navButton" href="historyPage"><span class="material-symbols-sharp navIcons">history</span></NavLink>
        <NavLink class="navButton" href="workoutPage"><span class="material-symbols-sharp navIcons">sports</span></NavLink>
        <NavLink class="navButton" href="exercisePage"><span class="material-symbols-sharp navIcons">fitness_center</span></NavLink>
        <NavLink class="navButton" href="aiPage"><span class="material-symbols-sharp navIcons">network_intelligence_update</span></NavLink>
    </div>
</nav>

@code {

}
